@font-face{
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'HancomMalangMalang-Regular';
    margin: 0;
    padding: 0;
}
#map {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
}
.hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 55px;
    height: 55px;
    background-color: #F0A202;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1000; /* Ensures the menu is on top of the map */
    text-align: center;
    line-height: 40px; /* Ensures the text is vertically centered */
    z-index: 1600;
}

.sidebar {
    position: fixed;
    top: -70px;
    left: -250px; /* Sidebar hidden by default */
    width: 250px;
    height: 100%;
    background-color: #F0A202;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 3000; /* Ensures the sidebar is on top of the map */
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 20px 0;
    text-align: center;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

.sidebar.active {
    left: 0; /* Show sidebar */
}