/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 100%;
}
.container {
    padding: 20px;
    margin-top: 100px;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}
.card-info {
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.card-address {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}
.selected {
    border: 2px solid #F0A202;
}
.next-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* 버튼 너비를 전체 너비의 80%로 설정 */
    padding: 15px; /* 버튼 높이 조정 */
    background-color: #202C59;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 버튼을 상단에 고정하여 다른 요소 위에 표시 */
    text-align: center;
}
.next-button:hover {
    background-color: #202C59;
}
.user-preferences {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-preferences ul {
    list-style: none;
    padding: 0;
}

.user-preferences li {
    margin: 5px 0;
    color: #333;
}