<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkPWI-Lb7GbibqP7_PUkcICADaN3PFXU0"></script>
    <link rel="stylesheet" href="../static/Menu/menu_style.css">
    <link rel="stylesheet" href="../static/Journey/journey.css">
    <link rel="stylesheet" href="../static/Main/main_style.css">
    <script src="../static/Menu/menu_script.js"></script>
    <script src="../static/Journey/journey.js"></script>
    <script src="../static/tts/tts.js"></script> 
    <script>
        function initMap() {
            // Default center point
            const center = { lat: 36.3504119, lng: 127.3845475 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: center,
                zoomControl: false, // 확대/축소 버튼 비활성화
                streetViewControl: false, // 거리 뷰 아이콘 비활성화
                mapTypeControl: false, // 지도 유형 선택 비활성화
                fullscreenControl: false
            });
            const decodeHtml = (html) => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                return doc.documentElement.textContent;
            };

            // Use pre-parsed route points from Flask
            const routePoints = JSON.parse(decodeHtml('{{ route_points }}'));

            // Convert to Google Maps-compatible LatLng objects
            const formattedRoutePoints = routePoints.map(point => ({
                lat: point.lat,
                lng: point.lng,
            }));

            const routePath = new google.maps.Polyline({
                path: formattedRoutePoints,
                geodesic: true,
                strokeColor: "#FF0000",
                strokeOpacity: 1.0,
                strokeWeight: 3,
            });

            routePath.setMap(map);

            // Adjust map bounds to fit route
            const bounds = new google.maps.LatLngBounds();
            formattedRoutePoints.forEach(point => bounds.extend(point));
            map.fitBounds(bounds);
        }
    </script>
</head>
<body onload="initMap()">
    <div class="logo_container">
        <img src="/static/logo.png" alt="logo" class="logo"/>
    </div>
    <div class="hamburger-menu" id="hamburger-menu">
        &#9776;
    </div>
    <nav class="sidebar" id="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item"><a href="/../../../" class="nav-link">홈</a></li>
            <li class="nav-item"><a href="/../../../management" class="nav-link">트랙관리</a></li>
            <li class="nav-item"><a href="#" class="nav-link">설정</a></li>
        </ul>
    </nav>
    <div id="map"></div>
</body>
</html>