<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Places</title>
    <link rel="stylesheet" href="../static/Menu/menu_style.css">
    <script src="../static/Menu/menu_script.js" defer></script>
    <link rel="stylesheet" href="../static/Order/order_style.css">
    <script src="../static/Order/order_script.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="hamburger-menu" id="hamburger-menu">&#9776;</div>
        <div class="logo_container">
            <img src="../static/logo.png" alt="logo" class="logo" />
        </div>
        <nav class="sidebar" id="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item"><a href="../" class="nav-link">홈</a></li>
                <li class="nav-item"><a href="#" class="nav-link">설정</a></li>
            </ul>
        </nav>
    </div>  
    <p></p>
    <h1>Reorder Places</h1>
    <div class="recommendation-section">
        <button id="ai-recommend-button">최적 자동 추천</button>
        <p class="recommendation-description">선택된 경로 유형에 따라 최적의 방문 순서를 자동으로 추천해드립니다.</p>
    </div>
    <div id="place-list">
        {% for place in place_list %}
            <div class="place-box" data-place-name="{{ place }}" draggable="true">{{ place }}</div>
        {% endfor %}
    </div>
    <button id="save-button">저장하기</button>

   
</body>
</html>